<div class="copyright">
  <p class="year">
    &#xA9; 2018 ISO/TC 211.
  </p>

  <p class="message">
    All rights reserved. Unless otherwise specified, no part of this
    site or its documents may be reproduced or utilized otherwise in any form or by any
    means, electronic or mechanical, including photocopying, or posting on the
    internet or an intranet, without prior written permission. Permission can
    be requested from the address below.
  </p>

  <div class="contact-info">
    <p class="name">ISO/TC 211</p>
    <p class="address">
      Some place<br />
      In beautiful<br />
      Geneva<br />
      Switzerland<br />
      <br />
      <a href="mailto:copyright@iso.org">copyright@iso.org</a><br />
      <a href="https://www.iso.org">www.iso.org</a>
    </p>
  </div>
</div>
