<header class="header header-iso container" role="banner">
  <div class="rubber">
    <div class="rubber-poweredby"></div>
  </div>
  <div class="topbar topbar-light topbar-whitecontent">
    <div class="topbar-content">
      <a class="logo poweredby riboselogo" href="https://www.ribose.com" title="Powered by Ribose"></a>
      <div class="poweredby-txt">
        Powered by
      </div>
    </div>
  </div>
  <div class="header-container header-img header-img-custom header-img-lightshadow">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <a class="logo isologo" href="{{ "/" | relative_url }}" title="Home"></a>
        <div class="header-title">
          <p class="title-big title-thin title-white">
            Geolexica: the authoritative geographic information terminology database
          </p>
          <p class="title-small title-thin title-white title-wrapped">
            From ISO/TC 211
          </p>
        </div>
      </div>
      <div class="nav-container collapse navbar-collapse nav-3levels" id="offcanvas-menu">
        <ul class="nav-level1 nav navbar-nav verticaline verticaline-dark">
          <li class="noChildren active firstInLevel">
            <a href="{{ "/" | relative_url }}">Home</a>
          </li>
          <li class="noChildren">
            <a href="{{ "/about" | relative_url }}">About</a>
          </li>
          <li class="noChildren lastInLevel">
            <a href="{{ "/concepts" | relative_url }}">Concepts</a>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </nav>
  </div>
</header>
