<header role="banner">
  <div class="topbar">
    <div class="topbar-content">
      <a class="logo poweredby riboselogo" href="https://www.ribose.com" title="Powered by Ribose"></a>
      <div class="poweredby-txt">
        Powered by
      </div>
    </div>
  </div>

  <div class="header-img-custom">
    <nav>
      <div class="navbar-header">
        <a class="logo isologo" href="{{ "/" | relative_url }}" title="Home"></a>
        <div class="header-title">
          <p class="title-big title-thin title-white">
            Geolexica: the authoritative geographic information terminology database
          </p>
          <p class="title-small title-thin title-white title-wrapped">
            From ISO/TC 211
          </p>
        </div>
      </div>

      <div class="nav-container">
        <ul>
          <li>
            <a href="{{ "/" | relative_url }}">Home</a>
          </li>
          <li>
            <a href="{{ "/about" | relative_url }}">About</a>
          </li>
          <li>
            <a href="{{ "/concepts" | relative_url }}">Concepts</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
