{%- unless page[lang].term == blank or page[lang].term == nil -%}
<div class="language-term">
  <h3>Language: {{ lang }}</h3>
  <div class="term">Term: {{ page[lang].term }}</div>

{%- for attrib in layout.term_attributes -%}
  {%- assign val = page[lang][attrib] -%}
  {%- if val.first -%}
    <!-- // val is an array -->
    <div class="term-{{ attrib }}">{{ attrib }}:
      <ul>
      {%- for arrval in val -%}
      {%- unless arrval == blank or arrval == nil -%}
      <li class="term-{{ attrib }}-{{ forloop.index0 }}">{{ arrval }}</li>
      {%- endunless -%}
      {%- endfor -%}
      </ul>
    </div>
  {% else %}
    <!-- // val is a string or empty array -->
    {%- unless val == blank or val == nil or val == empty -%}
    <div class="term-{{ attrib }}">{{ attrib }}: {{ val }}</div>
    {%- endunless -%}
  {% endif %}
{%- endfor -%}

</div>
{%- endunless -%}