
<div class="language-term">
<h2>Language: {{ lang }}</h2>

<div class="term">Term: {{ page[lang].term }}</div>
<div class="term-id">Term ID: {{ page[lang].id }}</div>
<div class="term-definition">Definition: {{ page[lang].definition }}</div>
<div class="term-notes">notes: {{ page[lang].notes }}</div>
<div class="term-examples">examples: {{ page[lang].examples }}</div>
<div class="term-entry_status">entry_status: {{ page[lang].entry_status }}</div>
<div class="term-authoritative_source">authoritative_source: {{ page[lang].authoritative_source }}</div>
<div class="term-lineage_source">lineage_source: {{ page[lang].lineage_source }}</div>
<div class="term-lineage_source_similarity">lineage_source_similarity: {{ page[lang].lineage_source_similarity }}</div>
<div class="term-date_accepted">date_accepted: {{ page[lang].date_accepted }}</div>
<div class="term-review_date">review_date: {{ page[lang].review_date }}</div>
<div class="term-review_status">review_status: {{ page[lang].review_status }}</div>
<div class="term-review_decision">review_decision: {{ page[lang].review_decision }}</div>
<div class="term-review_decision_date">review_decision_date: {{ page[lang].review_decision_date }}</div>
<div class="term-review_decision_event">review_decision_event: {{ page[lang].review_decision_event }}</div>
<div class="term-review_decision_notes">review_decision_notes: {{ page[lang].review_decision_notes }}</div>
<div class="term-release">Release: {{ page[lang].release }}</div>

</div>
