body.concepts {
  > main > div > h2 {
    @extend .section-title;
  }

  .ulist ul {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5em;
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      padding: 1em;
      border-top: 2px solid #f0f0f0;
      flex: 1 0 8em;
      margin: 0.5em;
      overflow: hidden;

      p {
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
          text-decoration: none;
        }
      }
    }
  }
}
