---
layout: null
---
{% assign english = page["eng"] %}
{
  "@context": {
    "skos": "http://www.w3.org/2004/02/skos/core#",
    "format": "http://purl.org/dc/terms/format",
    "dateAccepted": "http://purl.org/dc/terms/dateAccepted",
    "modified": "http://purl.org/dc/terms/modified",
    "created": "http://purl.org/dc/terms/created",
    "source": "http://purl.org/dc/terms/source"
  },

  "@type": "skos:Concept",
  "format": "linked-data-api",
  "@id": "{{ page.url }}",
  "skos:notation": "{{ page.termid }}",

  "skos:prefLabel": [
    {%- for lang in site.term_languages -%}
    {% assign localized_term = page[lang] %}
    {
      "@language": "{{ lang }}",
      "@value": "{{ localized_term.term | escape }}"
    }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ],

  "skos:altLabel": [
    {%- for lang in site.term_languages -%}
    {% assign localized_term = page[lang] %}
    {
      "@language": "{{ lang }}",
      "@value": "{{ localized_term.alt | escape }}"
    }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ],

  "skos:definition": [
    {%- for lang in site.term_languages -%}
    {% assign localized_term = page[lang] %}
    {
      "@language": "{{ lang }}",
      "@value": "{{ localized_term.definition | escape }}"
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ],

  {%- if english.date_accepted -%}
  "dateAccepted": "{{ english.date_accepted | date: "%F" }}",
  {% endif %}

  {%- if english.date_amended -%}
  "modified": "{{ english.date_amended | date: "%F" }}",
  {% endif %}

  {%- if english.notes -%}
  "notes": {
    {%- for lang in site.term_languages -%}
    "{{ lang }}": [
      {% assign localized_term = page[lang] %}
      {%- for note in page[lang].notes -%}
      {% assign notenum = "" %}
      {%- if localized_term.notes.size > 1 -%}
      {% assign notenum = " " | append: forloop.index %}
      {
        "note-id": {{ notenum }},
        "note": {
          "@language": "{{ lang }}",
          "@type": "skos:note",
          {% if lang != "eng" and note == english.notes[forloop.index0] %}
          "@value": "notTranslated",
          {% else %}
          "@value": "{{ note | escape }}"
          {% endif %}
        }
      }{% unless forloop.last %},{% endunless %}
      {% endif %}
      {% endfor %}
    ]{% unless forloop.last %},{% endunless %}
    {% endfor %}
  },
  {% endif %}

  {%- if english.examples -%}
  "examples": {
    {%- for lang in site.term_languages -%}
    "{{ lang }}": [
      {% assign localized_term = page[lang] %}
      {%- for example in page[lang].examples -%}
      {% assign examplenum = "" %}
      {%- if localized_term.examples.size > 1 -%}
      {% assign examplenum = " " | append: forloop.index %}
      {
        "example-id": {{ examplenum }},
        "example": {
          "@language": "{{ lang }}",
          "@type": "skos:example",
          {% if lang != "eng" and example == english.examples[forloop.index0] %}
          "@value": "notTranslated",
          {% else %}
          "@value": "{{ example | escape }}"
          {% endif %}
        }
      }{% unless forloop.last %},{% endunless %}
      {% endif %}
      {% endfor %}
    ]{% unless forloop.last %},{% endunless %}
    {% endfor %}
  },
  {% endif %}

  {%- if english.authoritative_source -%}
  "source": {
  {%- if english.authoritative_source.link -%}
    "link": "{{ english.authoritative_source.link }}",
  {% endif %}
  {%- if english.authoritative_source.clause -%}
    "clause": "{{ english.authoritative_source.clause }}",
  {% endif %}
    "ref": "{{ english.authoritative_source.ref }}"
  },
  {% endif %}

  {% assign term_status = english.entry_status %}
  {%- if english.entry_status -%}
  "status": {
    "@value": "{{ english.entry_status | escape }}"
  },
  {% endif %}

  {% assign classification = english.classification %}
  {%- if english.classification -%}
  "classification": {
    "@value": "{{ english.classification | escape }}"
  },
  {% endif %}

  "uri": "{{ page.url }}"

}

