---
layout: default
nav_items: [concepts, stats, about, posts, feedback, registers]
bodyClass: concept
term_attributes:
  - definition
  - notes
  - examples
  - entry_status
  - authoritative_source
  - lineage_source
  - lineage_source_similarity
  - date_accepted
  - review_date
  - review_status
  - review_decision
  - review_decision_event
  - review_decision_notes
  - release
---
<header>
  <h2 class="section-title">
    Concept
    <span class="term-name"><span class="q-open">“</span>{{ page.term | escape }}”</span>
  </h2>
</header>

<section class="field ref">
  <p class="field-name">Term ID</p>
  <p class="field-value">{{ page.termid }}</p>
</section>

{% assign english = page["eng"] %}
{% assign term_status = english.entry_status %}
{% assign classification = english.classification %}
<section class="field source">
  <p class="field-name">source</p>
  <p class="field-value">
    {% if english.authoritative_source.link %}
      <a href="{{ english.authoritative_source.link }}">{{ english.authoritative_source.ref }}</a>{% if english.authoritative_source.clause %}, {{ english.authoritative_source.clause }}{% endif %}
    {% else %}
      {{ english.authoritative_source.ref }}{% if english.authoritative_source.clause %}, {{ english.authoritative_source.clause }}{% endif %}
    {% endif %}
  </p>
</section>

{% for lang in site.term_languages %}
  {% assign localized_term = page[lang] %}

  {% if localized_term %}
    <article
      class="localized-term field lang-{{ lang }} status-{{ term_status }} classification-{{ classification }}"
      id="entry-lang-{{ lang }}">

      <p class="field-name">{{ lang }}</p>

      <div class="field-value">
        {% if localized_term.term %}
          <h3 class="localized">{{ localized_term.term | escape }}</h3>
        {% else %}
          <h3 class="warning">Translated term missing in this language.</h3>
        {% endif %}

        {% if localized_term.abbrev %}
          <p class="localized abbrev">{{ localized_term.abbrev | escape }}</p>
        {% endif %}

        {% if term_status == 'notValid' %}
          <!-- <h4><em>This term is deemed not valid.</em></h4> -->
        {% elsif term_status == 'retired' %}
          <!-- <h4><em>This term has been {{ term_status }}.</em></h4> -->
        {% elsif term_status == 'superseded' %}
          <!-- <h4><em>This term has been {{ term_status }}.</em></h4> -->
        {% endif %}

        {% if classification == 'preferred' %}
          <!-- <h4><em>This term is {{ classification }}.</em></h4> -->
        {% elsif term_status == 'admitted' %}
          <!-- <h4><em>This term is deemed {{ classification }}.</em></h4> -->
        {% elsif term_status == 'deprecated' %}
          <!-- <h4><em>This term has been {{ classification }}.</em></h4> -->
        {% else %}
          <!-- <h4><em>This is not a preferred term.</em></h4> -->
        {% endif %}

        {% if localized_term.definition %}
          <p class="definition localized">{{ localized_term.definition | escape }}</p>
        {% else %}
          <p class="definition warning">Definition not provided in this language.</p>
        {% endif %}

        {% if localized_term.authoritative_source.ref != english.authoritative_source.ref %}
        {% if localized_term.authoritative_source.link %}
          <p class="source localized">
            [SOURCE: <a href="{{ localized_term.authoritative_source.link }}">
              {{ localized_term.authoritative_source.ref }}</a>{% if localized_term.authoritative_source.clause %}, {{ localized_term.authoritative_source.clause }}{% endif %}]
          </p>
        {% else %}
          <p class="source localized">
            [SOURCE: {{ localized_term.authoritative_source.ref }}{% if localized_term.authoritative_source.clause %}, {{ localized_term.authoritative_source.clause }}{% endif %}]
          </p>
        {% endif %}
          <span class="warning">
            This translated term may not be from the same source as the definitive term. Use at your own risk.
          </span>
        {% endif %}

        {% if localized_term.notes %}
          <div class="notes">
            {% for note in localized_term.notes %}
            {% assign notenum = "" %}
            {% if localized_term.notes.size > 1 %}
            {% assign notenum = " " | append: forloop.index %}
            {% endif %}
            <p class="note localized">
              <span>
              {{ site.data.lang[lang].note_to_entry | replace: " DD", notenum }}
              </span>
            {% if lang != "eng" and note == english.notes[forloop.index0] %}
              <span class="warning">
                This note has not been translated.
              </span>
            {% else %}
              {{ note | escape }}
            {% endif %}
            </p>
            {% endfor %}
          </div>
        {% endif %}

        {% if localized_term.examples %}
          <div class="examples">
            {% for example in localized_term.examples %}
            <p class="example localized">
              <span>{{ site.data.lang[lang].example }}
                {% if localized_term.examples.size > 1 %}
                {{ forloop.index }}
                {% endif %}
              </span>
            {% if lang != "eng" and example == english.examples[forloop.index0] %}
              <span class="warning">
                This example has not been translated.
              </span>
            {% else %}
              {{ example | escape }}
            {% endif %}
            </p>
            {% endfor %}
          </div>
        {% endif %}

        <ul class="labels">
          {% if localized_term.alt %}
            <li><span class="localized">{{ localized_term.alt | escape }}</span></li>
          {% endif %}
        </ul>

        <p class="origin localized">
          ORIGIN:
          <a href="/registers/#language-{{ lang }}">{{ site.data.info.languages[lang].register-name }}</a>
          (last updated: {{ site.data.info.languages[lang].date-of-last-change }})
        </p>

      </div>
    </article>
  {% endif %}
{% endfor %}

{% assign json_concept = site.concepts_json | where: 'termid', page.termid | first %}
{% assign json_url = json_concept.url %}
<section class="field json">
  <p class="field-name">JSON</p>
  <p class="field-value"><a href="{{ json_url }}">{{ json_url }}</a></p>
</section>

<section class="field info">
  <p class="field-name">info</p>
  <div class="field-value">
    <ul class="labels">
      {% if english.entry_status %}
        <li>status: {{ english.entry_status | escape }}</li>
      {% endif %}

      {% if english.classification %}
        <li>classification: {{ english.classification | escape }}</li>
      {% endif %}

      {% if english.date_accepted %}
        <li>date accepted: {{ english.date_accepted | date: "%F" }}</li>
      {% endif %}

      {% if english.date_amended %}
        <li>date amended: {{ english.date_amended | date: "%F" }}</li>
      {% endif %}
    </ul>
  </div>
</section>

{% if english.review_date %}
  <section class="field json">
    <p class="field-name">Review</p>
    <div class="field-value">
      <dl class="review">
        <div class="review-info">
          <dt>last review performed:</dt>
          <dd>({{ english.review_date | date: "%F" }})</dd>
        </div>
        {% if english.review_status %}
          <div class="review-info">
            <dt>status:</dt>
            <dd>{{ english.review_status }}</dd>
          </div>
        {% endif %}
        {% if english.review_decision %}
          <div class="review-info">
            <dt>decision:</dt>
            <dd>{{ english.review_decision | escape }}</dd>
          </div>
        {% endif %}
        {% if english.review_decision_event %}
          <div class="review-info">
            <dt>decision event:</dt>
            <dd>{{ english.review_decision_event | escape }}</dd>
          </div>
        {% endif %}
        {% if english.review_decision_notes %}
          <div class="review-info">
            <dt>notes:</dt>
            <dd>{{ english.review_decision_notes | escape }}</dd>
          </div>
        {% endif %}
      </dl>
    </div>
  </section>
{% endif %}
