---
layout: null
---
{%- assign concept = page["eng"] -%}
{%- assign rdfprofile = "/api/rdf-profile" -%}
{%- assign concept_html = site.concepts | where: 'termid', page.termid | first -%}
{%- assign concept_id = concept_html.url -%}
{%- assign english = page["eng"] -%}
# baseURI: "{{ concept_id }}"
# imports: http://purl.org/dc/terms/
# imports: https://www.geolexica.org/api/rdf-profile
# imports: http://www.w3.org/2004/02/skos/core

@prefix : <{{ concept_id }}> .
@prefix dcterms: <http://purl.org/dc/terms/> .
@prefix owl: <http://www.w3.org/2002/07/owl#> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdf-profile: <{{ rdfprofile }}#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix skos: <http://www.w3.org/2004/02/skos/core#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

<{{ concept_id }}>
  rdf:type owl:Ontology ;
  owl:imports dcterms: ;
  owl:imports <{{ rdfprofile }}> ;
  owl:imports <http://www.w3.org/2004/02/skos/core> ;
.
:closure
  rdf:type skos:Concept ;

{%- if concept.authoritative_source.link %}
  dcterms:source "{{ concept.authoritative_source.link }}" ;
{%- endif %}

{%- for lang in site.term_languages %}
{%- assign localized_term = page[lang] -%}
{%- if localized_term.term %}
  rdf-profile:{{ lang }}Origin rdf-profile:{{ site.data.lang[lang].lang_en }} ;
{%- endif %}
{%- endfor %}
  rdf-profile:termID <{{ page.url }}> ;
  rdfs:label "{{ english.term | escape }}" ;
  skos:notation {{ page.termid }} ;
{%- for lang in site.term_languages %}
{%- assign localized_term = page[lang] -%}
{%- if localized_term.definition %}
  skos:definition "{{ localized_term.definition | escape }}"@{{ site.data.lang[lang].iso-639-1 }} ;
{%- endif %}
{%- endfor %}
  skos:inScheme rdf-profile:GeolexicaConceptScheme ;

{%- for lang in site.term_languages %}
{%- assign localized_term = page[lang] -%}
{%- if localized_term.term %}
  skos:prefLabel "{{ localized_term.term | escape }}"@{{ site.data.lang[lang].iso-639-1 }} ;
{%- endif %}
{%- endfor %}

{%- for lang in site.term_languages %}
{%- assign localized_term = page[lang] -%}
{%- if localized_term.alt %}
  skos:altLabel "{{ localized_term.alt | escape }}"@{{ site.data.lang[lang].iso-639-1 }} ;
{%- endif %}
{%- endfor %}

{%- if concept.date_accepted %}
  dcterms:dateAccepted "{{ concept.date_accepted | date: "%F" }}" ;
{%- endif %}

{%- if concept.date_amended %}
  dcterms:modified "{{ concept.date_amended | date: "%F" }}" ;
{%- endif %}

{%- assign term_status = concept.entry_status -%}
{%- if concept.entry_status %}
  :status "{{ concept.entry_status | escape }}" ;
{%- endif %}

{%- assign classification = concept.classification -%}
{%- if concept.classification %}
  :classification "{{ concept.classification | escape }}" ;
{%- endif %}
.
:linked-data-api
  rdf:type dcterms:MediaTypeOrExtent ;
  skos:prefLabel "linked-data-api" ;
.
