---
layout: default
nav_items: [home, about, concepts, stats]
bodyClass: concept
term_attributes:
  - definition
  - notes
  - examples
  - entry_status
  - authoritative_source
  - lineage_source
  - lineage_source_similarity
  - date_accepted
  - review_date
  - review_status
  - review_decision
  - review_decision_event
  - review_decision_notes
  - release
---
<header>
  <h2>
    Concept
    <span class="term-name"><span class="q-open">“</span>{{ page.term }}”</span>
  </h2>
</header>

<section class="field ref">
  <p class="field-name">Ref</p>
  <p class="field-value">{{ page.termid }}</p>
</section>

{% assign json_concept = site.concepts_json | where: 'termid', page.termid | first %}
{% assign json_url = json_concept.url %}
<section class="field json">
  <p class="field-name">JSON</p>
  <p class="field-value"><a href="{{ json_url }}">{{ json_url }}</a></p>
</section>

{% for lang in site.term_languages %}
  {% assign localized_term = page[lang] %}
	{% assign term_status = localized_term.entry_status %}

  {% if localized_term %}
    <article class="localized-term field lang-{{ lang }} status-{{ term_status }}" id="entry-lang-{{ lang }}">
      <p class="field-name">{{ lang }}</p>

      <div class="field-value">
        {% if term_status == 'notValid' %}
        <h3><em>This term is deemed not valid.</em></h3>
        {% elsif term_status == 'retired' %}
        <h3><em>This term has been {{ term_status }}.</em></h3>
        {% elsif term_status == 'superseded' %}
        <h3><em>This term has been {{ term_status }}.</em></h3>
        {% endif %}

        <h3 class="localized">{{ localized_term.term }}</h3>
        <p class="definition localized">{{ localized_term.definition }}</p>
        <p class="source localized">[SOURCE: {{ localized_term.authoritative_source }}]</p>

        {% if localized_term.notes %}
        <div class="notes">
          {% for note in localized_term.notes %}
          <!-- <span>Note {{ forloop.index }} to entry:</span> -->
          <p class="note localized">{{ note }}</p>
          {% endfor %}
        </div>
        {% endif %}

        {% if localized_term.examples %}
        <div class="examples">
          {% for example in localized_term.examples %}
          <!-- <span>Example {{ forloop.index }}</span> -->
          <p class="example localized">{{ example }}</p>
          {% endfor %}
        </div>
        {% endif %}

        <ul class="labels">
          {% if localized_term.alt %}
            <li class="localized">{{ localized_term.alt }}</li>
          {% endif %}

          {% if localized_term.entry_status %}
            <li>{{ localized_term.entry_status }}</li>
          {% endif %}

          {% if localized_term.date_accepted %}
            <li>accepted {{ localized_term.date_accepted }}</li>
          {% endif %}

          {% if localized_term.date_amended %}
            <li>last amended {{ localized_term.date_amended }}</li>
          {% endif %}
        </ul>
      </div>
    </article>
  {% endif %}
{% endfor %}
