---
layout: home
bodyClass: home

extra_stylesheets:
  - href: https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css
  - href: https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css

extra_scripts:
  - src: https://unpkg.com/react@^16/umd/react.production.min.js
  - src: https://unpkg.com/react-dom@^16/umd/react-dom.production.min.js
  - src: /assets/js/concept-search.js

  - src: https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.js
  - src: /assets/algolia-search.js
---

<section class="browse-concepts">
  <h2 class="section-title">Concepts</h2>
  <a href="/concepts/" class="browse-concepts">Browse concepts</a>
</section>

<section class="news">
  <h2 class="section-title">News</h2>

  <div class="items">
    {% for post in site.posts %}
      {% include newsroll-entry.html %}
    {% endfor %}
  </div>
</section>
