name: deploy

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  repository_dispatch:
    types:
    - deploy

jobs:
  build-deploy:
    uses: geolexica/ci/.github/workflows/site-deploy-github-pages.yml@main
    with:
      ref: ${{ github.event_name == 'repository_dispatch' && github.event.client_payload.ref || github.ref }}
      repository: geolexica/isotc211-glossary
      concepts-path: isotc211-glossary
      breviter-repository: geolexica/breviter
      breviter-path: breviter
      production-branch: refs/heads/main
      production-url: https://isotc211.geolexica.org
